.poem {
  text-align: center;
  background-color: lightcyan;
  padding: 12px;
  border-radius: 12px;
}

p {
  font-family: Georgia, serif;
  font-size: 20px;
  font-style: italic;
}
hr {
  margin: 0 120px 0 120px;
  border: 1px dashed #45c3d8;
}
